# PANDAS

Pandas merupakan salah satu package yang sangat membantu kita dalam pengolahan data dengan bahasa python. Hal ini karena pada menyediakan fitur dataframe. Dengan dataframe, kita bisa menjadikan file terbaca menjadi sebuah tabel. File yang didukung seperti .txt, .csv, .tsv dan lainnya.

Nb: karena menggunakan phyton, maka install terlebih dahulu pandas, openpyxl, xlrd. (pip install pandas, pip install openpyxl, pip install xlrd)

semua data (txt, .csv, .tsv dan lainnya.) yang akan dimasukkan di jadikan satu folder terlebih dahulu dengan file .ipynb yang akan digunakan untuk coding.

In [9]:
# Mengimpor Pandas

import pandas as pd

In [10]:
# Import .txt

data1=pd.read_csv("data.txt")
print(data1)

   A\tB
0  1\t2
1  4\t3
2  4\t2

In [11]:
data2=pd.read_csv("data.txt", delimiter="\t")
print(data2)

   A  B
0  1  2
1  4  3
2  4  2

In [12]:
# Import .csv

data3=pd.read_csv("data.txt")
print(data3)

   A\tB
0  1\t2
1  4\t3
2  4\t2

In [13]:
data4=pd.read_csv("data.txt", delimiter="\s+")
print(data4)

   A  B
0  1  2
1  4  3
2  4  2

In [16]:
# Import .xlsx

data5=pd.read_excel('data.xlsx')
print(data5)

   A  B
0  1  2
1  4  3
2  4  2

In [18]:
# Import .xls

data6=pd.read_excel('data.xls')
print(data6)

   A  B
0  1  2
1  4  3
2  4  2

In [19]:
# Melihat Tabel

#semua
data2

   A  B
0  1  2
1  4  3
2  4  2

In [20]:
#sebagian yang diatas (karena datanya sedikit maka yang tampil semua, silahkan coba dengan data yang lebih banyak lagi sendiri)
data2.head()

   A  B
0  1  2
1  4  3
2  4  2

In [22]:
# Membuat Dataframe sendiri

df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [23]:
data = [6,7,8,9,10]
df1 = pd.DataFrame(data)
print(df1)

    0
0   6
1   7
2   8
3   9
4  10

In [24]:
data = [['Fuji',50],['Thoriq',60],['Chika',90]]
df2 = pd.DataFrame(data,columns=['Nama','Usia'])
print(df2)

     Nama  Usia
0    Fuji    50
1  Thoriq    60
2   Chika    90