Pandas merupakan salah satu package yang sangat membantu kita dalam pengolahan data dengan bahasa python. Hal ini karena pada menyediakan fitur dataframe. Dengan dataframe, kita bisa menjadikan file terbaca menjadi sebuah tabel. File yang didukung seperti .txt, .csv, .tsv dan lainnya

**Mengimpor Pandas**

In [1]:
import pandas as pd

**Import .txt**

siapkan dahulu file txt (dengan jarak antar data misal menggunakan tab) di folder yang sama dengan program

In [2]:
data1=pd.read_csv("data.txt")
print(data1)

   A\tB
0  1\t2
1  4\t3
2  4\t2

In [3]:
data2=pd.read_csv("data.txt", delimiter="\t")
print(data2)

   A  B
0  1  2
1  4  3
2  4  2

**Import .csv**

siapkan dahulu file csv di folder yang sama dengan program

In [4]:
data3=pd.read_csv("data.txt")
print(data3)

   A\tB
0  1\t2
1  4\t3
2  4\t2

In [5]:
data4=pd.read_csv("data.txt", delimiter="\s+")
print(data4)

   A  B
0  1  2
1  4  3
2  4  2

**Import .xlsx**

siapkan dahulu file xlsx di folder yang sama dengan program

In [6]:
data5=pd.read_excel('data.xlsx')
print(data5)

   A  B
0  1  2
1  4  3
2  4  2

**Import .xls**

siapkan dahulu file xls di folder yang sama dengan program

In [7]:
data6=pd.read_excel('data.xls')
print(data6)

   A  B
0  1  2
1  4  3
2  4  2

**Melihat Tabel**

In [8]:
#semua
data2

   A  B
0  1  2
1  4  3
2  4  2

In [9]:
#sebagian yang diatas (karena datanya sedikit maka yang tampil semua, silahkan coba dengan data yang lebih banyak lagi sendiri)
data2.head()

   A  B
0  1  2
1  4  3
2  4  2

**Membuat Dataframe sendiri**

In [10]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [11]:
data = [2,4,6,8,10]
df1 = pd.DataFrame(data)
print(df1)

    0
0   2
1   4
2   6
3   8
4  10

In [12]:
data = [['Sephia Alifhatun Nisya',18],['Yashinta Eka',19],['Ajeng Audisia',20]]
df2 = pd.DataFrame(data,columns=['Nama','Usia'])
print(df2)

                     Nama  Usia
0  Sephia Alifhatun Nisya    18
1            Yashinta Eka    19
2           Ajeng Audisia    20